<h1>Title: <%= @movie.title%></h1>
<hr>
<h1>Genre: <%= @movie.genre%></h1>
<hr>
<h1>Year: <%= @movie.year%></h1>
<hr>
<h1>Plot: <%= @movie.plot%></h1>
<hr>
<h1>Picture: <%= image_tag @movie.picture%></h1>